@use "../abstracts/functions";
@use "../abstracts/include-media";
@use "../abstracts/mixins";

.site-footer {
  position: relative;
  @include mixins.font-size(8, mobile, true, true, true);
  @if (functions.get-font-size(8, desktop) != functions.get-font-size(8, mobile)) {
    @include include-media.media('>medium') {
      @include mixins.font-size(8, desktop, true, true, true);
    }
  }
  color: functions.color(typography, 1);

  a,
  a:hover {
    @include mixins.anchor-aspect(footer);
    color: functions.color(typography, 1) !important;
  }
}

.site-footer-inner {
  position: relative; /* To display all elements above the background color */
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-brand,
.footer-copyright {
  flex: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.footer-brand {
  margin-bottom: 24px;
}

@include include-media.media('>medium') {
  .site-footer-inner {
    justify-content: space-between;
  }

  .footer-brand,
  .footer-copyright {
    flex: 50%;
  }
}
