.search_input {
  width: 100%;
  margin-bottom: 30px;
  line-height: 24px!important;
  color: #484848!important;
  background-color: transparent!important;
  padding: 25px 20px 25px 20px!important;
  text-overflow: ellipsis!important;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 20px #eee;
  box-shadow: 3px 3px 20px #eee;
  outline: none;
}
