<section class="podcasts section">
  <div class="podcasts-shape podcasts-shape-1">
    <svg width="280" height="280" viewBox="0 0 280 280" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="podcasts-shape-1">
          <stop stop-color="#DD0031" offset="0%"/>
          <stop stop-color="#C3002F" offset="100%"/>
        </linearGradient>
      </defs>
      <circle cx="140" cy="685" r="140" transform="translate(0 -545)" fill="url(#podcasts-shape-1)" fill-rule="evenodd"/>
    </svg>
  </div>
  <div class="container">
    <div class="podcasts-inner section-inner">
      <h2 class="section-title mt-0 text-center">Podcasts</h2>
      <div class="podcasts-wrap">
        <div (click)="redirect('https://angularair.com/')" class="podcast text-xs is-revealing">
          <div class="podcast-inner">
            <div class="podcast-main">
              <div class="podcast-body">
                <p class="mb-0">A live videocast on YouTube about all things Angular (by Google), a JavaScript platform for building mobile and desktop web applications.</p>
              </div>
            </div>
            <div class="podcast-footer">
              <div class="podcast-link">
                <a href="https://angularair.com/" target="_blank">AngularAir</a>
              </div>
            </div>
          </div>
        </div>
        <div (click)="redirect('https://devchat.tv/adv-in-angular/')" class="podcast text-xs is-revealing">
          <div class="podcast-inner">
            <div class="podcast-main">
              <div class="podcast-body">
                <p class="mb-0">Devchat.tv - Adventures in Angular Episodes</p>
              </div>
            </div>
            <div class="podcast-footer">
              <div class="podcast-link">
                <a href="https://devchat.tv/adv-in-angular/" target="_blank">Devchat.tv</a>
              </div>
            </div>
          </div>
        </div>
        <div (click)="redirect('https://happy-angular.de/')" class="podcast text-xs is-revealing">
          <div class="podcast-inner">
            <div class="podcast-main">
              <div class="podcast-body">
                <p class="mb-0">Lade dir die aktuelle Folge des Happy Angular Podcasts herunter</p>
              </div>
            </div>
            <div class="podcast-footer">
              <div class="podcast-link">
                <a href="https://happy-angular.de/" target="_blank">Happy Angular</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
