<app-section [classes]="'hero'">
  <app-container>
    <div class="hero-inner">
      <div class="hero-copy">
        <h1 class="hero-title mt-0">Angular Awesome Resources</h1>
        <p class="hero-paragraph">
          The list of the best Angular tools and resources for everything and
          for everyone. Blog articles, tools, libraries, open source projects,
          etc. Curated by
          <a
            rel="noreferrer"
            href="https://www.petrnikolas.com/"
            target="_blank"
            >Petr Nikolas</a
          >.
        </p>
        <div class="hero-form field field-grouped">
          <div class="control">
            <a
              class="button button-primary button-block"
              rel="noreferrer"
              href="https://github.com/PetrNikolas/Awesome-Angular-Resources/blob/master/Contributing.md"
              target="_blank"
              >Contribute on GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </app-container>
</app-section>
