<header class="site-header">
    <div class="header-shape header-shape-1">
      <svg width="337" height="222" viewBox="0 0 337 222" xmlns="http://www.w3.org/2000/svg">
          <defs>
              <linearGradient x1="50%" y1="55.434%" x2="50%" y2="0%" id="header-shape-1">
                  <stop stop-color="#E0E1FE" stop-opacity="0" offset="0%"/>
                  <stop stop-color="#E0E1FE" offset="100%"/>
              </linearGradient>
          </defs>
          <path d="M1103.21 0H1440v400h-400c145.927-118.557 166.997-251.89 63.21-400z" transform="translate(-1103)" fill="url(#header-shape-1)" fill-rule="evenodd"/>
      </svg>
    </div>
    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h1 class="m-0">
                    <a href="/">
                      AWR
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
