<app-section [classes]="'hero'">
  <app-container>
    <div class="hero-inner">
      <div class="hero-copy">
        <h1 class="hero-title mt-0">Awesome Starter Kits</h1>
        <p class="hero-paragraph">
          The list of the best Angular tools and resources for everything and for everyone. Blog articles, tools,
          libraries, open source projects, etc. Curated by
          <a rel="noreferrer" href="https://www.petrnikolas.com/" target="_blank">Petr Nikolas Prokop</a>.
        </p>
      </div>
    </div>
  </app-container>
</app-section>
