<section class="newsletter section text-light">
    <div class="container-sm">
        <div class="newsletter-inner section-inner">
            <div class="newsletter-header text-center">
                <h2 class="section-title mt-0">Stay in the know</h2>
            </div>
            <div class="footer-form newsletter-form field field-grouped">
                <div class="control control-expanded">
                    <input class="input" type="email" name="email" placeholder="Your email address&hellip;">
                </div>
                <div class="control">
                    <a class="button button-primary button-block button-shadow" href="#">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>
