<app-section [classes]="'resources'">
  <app-container>
    <div class="resources-inner section-inner">
      <label for="search">
        <input
          id="search"
          (input)="onSearchQueryChange($any($event.target).value)"
          class="search_input"
          type="text"
          name="search"
          placeholder="Search resources (70+) by title or description ..."
        />
      </label>
      <div class="filters">
        <span [class.selected]="selectedTab === TYPE_ALL" (click)="filterHandler('all')">All</span>
        <span [class.selected]="selectedTab === TYPE_LIB" (click)="filterHandler('lib')">Libs</span>
        <span [class.selected]="selectedTab === TYPE_TOOL" (click)="filterHandler('tool')">Tools</span>
        <span [class.selected]="selectedTab === TYPE_FRAMEWORK" (click)="filterHandler('framework')">Frameworks</span>
        <span [class.selected]="selectedTab === TYPE_PODCAST" (click)="filterHandler('podcast')">Podcasts</span>
        <span [class.selected]="selectedTab === TYPE_COMMUNITY" (click)="filterHandler('community')">Community</span>
        <span [class.selected]="selectedTab === TYPE_OTHER" (click)="filterHandler('other')">Others</span>
      </div>
      <app-catalog-grid
        *ngIf="resources$"
        [items]="resources$"
        [displayType]="true"
      ></app-catalog-grid>
    </div>
  </app-container>
</app-section>
<app-scroll-top></app-scroll-top>

