<section class="features section">
  <div class="container">
    <div class="features-inner section-inner">
      <label for="search">
        <input id="search" [(ngModel)]="queryString" class="search_input" type="text" name="search" placeholder="Search resources (70+) by title or description ..." />
      </label>
      <div class="filters">
        <strong>Filter by:</strong>
        <span [class.selected]="selectedTab$ === TYPE_ALL" (click)="filterHandler('all')">All</span>
        <span [class.selected]="selectedTab$ === TYPE_LIB" (click)="filterHandler('lib')">Libraries</span>
        <span [class.selected]="selectedTab$ === TYPE_TOOL" (click)="filterHandler('tool')">Tools</span>
        <span [class.selected]="selectedTab$ === TYPE_COMMUNITY" (click)="filterHandler('community')">Community</span>
        <span [class.selected]="selectedTab$ === TYPE_STARTER" (click)="filterHandler('starter')">Starter Kits</span>
        <span [class.selected]="selectedTab$ === TYPE_FRAMEWORK" (click)="filterHandler('framework')">Frameworks</span>
        <span [class.selected]="selectedTab$ === TYPE_PODCAST" (click)="filterHandler('podcast')">Podcasts</span>
        <span [class.selected]="selectedTab$ === TYPE_OTHER" (click)="filterHandler('other')">Others</span>
      </div>
      <div *ngIf="resources$" class="features-wrap">
        <!--<cdk-virtual-scroll-viewport itemSize="500" class="example-viewport">
          <div *cdkVirtualFor="let item of resources$ | filterdata: queryString; index as i; trackBy: trackByFn" class="feature text-center is-revealing">-->
          <div *ngFor="let item of resources$ | filterdata: queryString; index as i; trackBy: trackByFn" class="feature text-center is-revealing">
            <div class="feature-inner" (click)="redirect(item.link)" target="_blank">
              <h4 class="feature-title h3-mobile mb-8">{{ item.title }}</h4>
              <p class="text-sm">{{ item.description }}</p>
              <p class="text-sm"><small>#{{ item.type }}</small></p>
            </div>
          </div>
        <!--</cdk-virtual-scroll-viewport>-->
      </div>
    </div>
  </div>
</section>
<app-scroll-top></app-scroll-top>
<!--<ng-adsense
  [adClient]="'ca-pub-7640562161899788'"
  [adSlot]="7259870550"
  [display]="'inline-block'"
  [width]="320"
  [height]="108">
</ng-adsense>-->
