.search_input {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 24px!important;
  color: #484848!important;
  background-color: transparent!important;
  padding: 25px 20px 25px 20px!important;
  text-overflow: ellipsis!important;
  border: #eee;
  -webkit-box-shadow: 3px 3px 20px #eee;
  box-shadow: 3px 3px 20px #eee;
  outline: none;
}

.filters {
  text-align: left;

  span {
    cursor: pointer;
    padding-left: 20px;

    &.selected {
      color: #DD0031;
    }
  }
}
