<div class="pt-56 pb-64">
  <div class="resources-wrap">
    <div class="resource text-center is-revealing">
      <div class="resource-inner" [routerLink]="'/resources'">
        <h4 class="resource-title h3-mobile mb-8">Awesome Resources</h4>
        <p class="text-sm">
          The list of the best Angular tools and resources for everything and for everyone. Blog articles, tools,
          libraries, open source projects, etc.
        </p>
      </div>
    </div>
    <div class="resource text-center is-revealing">
      <div class="resource-inner" [routerLink]="'/starter-kits'">
        <h4 class="resource-title h3-mobile mb-8">Awesome Starters</h4>
        <p class="text-sm">The list of the best Angular Starter Kits for everything and for everyone.</p>
      </div>
    </div>
  </div>
</div>
