<app-section [classes]="'hero'">
  <app-container>
    <div class="hero-inner">
      <div class="hero-copy">
        <h1 class="hero-title">Awesome Angular Resources</h1>
        <p class="hero-paragraph">
          The web with the list of the best Angular starters and resources for everything and for everyone. Curated by
          <a rel="noreferrer" href="https://www.petrnikolas.com/" target="_blank">Petr Nikolas Prokop</a>.
        </p>
        <div class="hero-form field field-grouped">
          <div class="control">
            <a
              class="button button-primary button-block"
              rel="noreferrer"
              href="https://github.com/PetrNikolas/Awesome-Angular-Resources/blob/master/Contributing.md"
              target="_blank"
              >Contribute on GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </app-container>
</app-section>
